* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img,
svg {
  max-width: 100%;
  display: block;
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}
